.divModal{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.divModal div {
    width: 200px;
    height: 200px;
    background-color: white;
}
.modalBody{
    color: black;
    display:  flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 8px;
}
.btnTrash{
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}